


@mixin cuboid($height, $width, $depth, $frontColor:tan, $backColor:tan, $leftColor:tan, $rightColor:tan, $topColor:tan, $bottomColor:tan, $perspective:400, $p-origin:left top){
	perspective: $perspective + px;
	perspective-origin: $p-origin;	
	.cube {
		position: relative;
		left:50px;
		top:50px;
		width: $width + px;
		transform-style: preserve-3d;
		img {
			width:100%;height:auto;
			}
		>div {
				position: absolute;
				overflow: hidden;
			}
		.front {
			transform: translateZ($depth/2 + px);
			width: $width + px;
			height: $height + px;
			background-color: $frontColor  ;
			}
		.back {
			transform: translateZ(- + $depth/2 + px) rotateY(180deg);
			width: $width + px;
			height: $height + px;
			background-color: $backColor  ;
			}
		.left {
			height: $height + px;
			width: $depth + px;
			transform: rotateY(270deg) translateX(- + $depth/2 + px);
			transform-origin: center left;	
			background-color: $leftColor  ;			
			}
		.right {
			height: $height + px;
			width: $depth + px;		
			transform: rotateY(-270deg) translateX($depth/2 + px) translateZ( $width - $depth  + px);
			transform-origin: top right;
			background-color: $rightColor  ;	
			}
		.top { 
			width:$width + px;
			height:$depth + px;	 ;
			transform: rotateX(90deg) translateY(- + $depth/2 + px);
			transform-origin: top center;		
			background-color: $topColor  ;	
			}
		.bottom { 
			width:$width + px;
			height:$depth + px;	 
			transform:  rotateX(-90deg) translateZ($height + px) translateY(- + $depth/2 + px);
			transform-origin: top center;
			background-color: $bottomColor  ;	
			}
	}

  }
  
