@import "sass-css3-mixins-master/css3-mixins.scss";


@mixin cuboid($height, $width, $depth, $frontColor:tan, $backColor:tan, $leftColor:tan, $rightColor:tan, $topColor:tan, $bottomColor:tan, $perspective:400, $p-origin:left top, $pos-left:0, $pos-top:0 ){
	perspective: $perspective + px;
	perspective-origin: $p-origin;	
	.cube {
		position: relative;
		left:$pos-left + px;
		top:$pos-top + px;
		width: $width + px;
		@include transform-style;
		img {
			width:100%;height:auto;
			}
		>div {
				position: absolute;
				overflow: hidden;
			}
		.front {
			@include transform( translateZ($depth/2 + px) );
			width: $width + px;
			height: $height + px;
			background-color: $frontColor  ;
			}
		.back {
			@include transform( translateZ(- + $depth/2 + px) rotateY(180deg) );
			width: $width + px;
			height: $height + px;
			background-color: $backColor  ;
			}
		.left {
			height: $height + px;
			width: $depth + px;
			@include transform( rotateY(270deg) translateX(- + $depth/2 + px) );
			@include transform-origin( center left );
			background-color: $leftColor  ;			
			}
		.right {
			height: $height + px;
			width: $depth + px;		
			@include transform(rotateY(-270deg) translateX($depth/2 + px) translateZ( $width - $depth  + px) );
			@include transform-origin(top right);
			background-color: $rightColor  ;	
			}
		.top { 
			width:$width + px;
			height:$depth + px;	 ;
			@include transform( rotateX(90deg) translateY(- + $depth/2 + px) );
			@include transform-origin(top center);			
			background-color: $topColor  ;	
			}
		.bottom { 
			width:$width + px;
			height:$depth + px;	 
			@include transform(  rotateX(-90deg) translateZ($height + px) translateY(- + $depth/2 + px) );
			@include transform-origin(top center);
			background-color: $bottomColor  ;	
			}
	}

  }
  
